{% extends "account/base.html" %}

{% load i18n %}{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block title %}Password Change{% endblock %}

{% block content %}
{% load account %}



<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" style="height: 800px;">
            <form class="login100-form validate-form"  action="{% url 'account_change_password'%}" method="POST" id="password_change">
                {% csrf_token %}
                <span class="login100-form-title p-b-49">Password Change</span>
                {% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
								<div class="alert alert-error" style="color: white;">
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
							<div class="alert alert-error" style="color: white;">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Enter your old password:</span>
                    {{form.oldpassword}}
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <br>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Enter new password:</span>
                    {{form.password1}}
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <br>
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Confirm new password:</span>
                    {{form.password2}}
                    
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                <div class="text-right p-t-8 p-b-31">
                    <a href="{% url 'account_reset_password' %}">
                        Forgot password?
                    </a>
                </div>
    
                
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Change Password
                            </button>
                        </div>
                        
                        <a class="txt1" href = '/'>
							&lt Go back to home
						</a>
                    </div>
                    
                </form>
                
                <br><br>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            {% endblock %}
            </div>
        </div>
    </div>


<div id="dropDownSelect1"></div>


  