



.limiter {
  width: 100%;
  margin: 0 auto;
}

.tablecontact{
  text-align: right; justify-content: flex-end; align-items: flex-end; width: 100%;
  margin-bottom: 10px;
}
table .navsubmitcoin{

  height: 40px; width: 70px;
}

.container-table100 {
  width: 100%;
  min-height: 40vh;

  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #0A0E26;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #0A0E26;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{

  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #12152E;
}

tbody tr {

  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {

  cursor: pointer;
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}


@media screen and (max-width: 992px) {

  table th:nth-child(4),table th:nth-child(5),table th:nth-child(6),table th:nth-child(7){
    display:none;
  }
  table td:nth-child(4),table td:nth-child(5),table td:nth-child(6),table td:nth-child(7){
    display:none;
  }
  
  table tbody tr {
    height: auto;

    
  }
  table tbody tr td {
    padding: 20px 0;
  }

  
  table tbody tr td:last-child {
    margin-bottom: 0;
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
  
  table .navsubmitcoin{
    width: 100px; !important;
    
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }

  

}